.root {
  width: 100%;
}

.dropdownLabel {
  display: inline-block;

  margin-bottom: 6px;
}

.dropdownLabel,
.dropdown {
  color: rgba(231, 238, 238, 0.8);
}

.dropdown {
  width: 100%;
  height: 2.25rem;
  border-radius: 5px;
  outline: none;
  color: gray;
}
