.root {
  height: fit-content;
  width: fit-content !important;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(231, 238, 238, 0.8);
  background-color: transparent;
  border: 1px rgba(231, 238, 238, 0.8) solid;
  border-radius: 0.5rem;
  cursor: pointer;

  margin-bottom: 4px;

  transition: border 250ms ease-in-out, box-shadow 250ms ease-in-out,
    opacity 250ms ease-in-out, transform 250ms ease-in-out;
  will-change: border, box-shadow, opacity, transform;
}

.root:hover,
.buttonActive {
  border: 1px solid #a9e3ff;
  box-shadow: 0 0 5px #4cc7f4, inset 0 0 5px #4cc7f4;
  opacity: 1;
}

.buttonImage {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  overflow: hidden;
}

.buttonImage > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
