.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.hide {
  display: none !important;
}

.horizontalContainer {
  flex-direction: row;
}

.verticalContainer {
  flex-direction: column;
}
