.root {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  cursor: pointer;

  margin-bottom: 6px;
}

.root > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}
