.root {
  width: 100%;
}

.selectButtonLabel {
  color: rgba(231, 238, 238, 0.8);
  display: inline-block;

  margin-bottom: 6px;
}

.selectButtonItemHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  align-content: start;
}

.selectButtonItem {
  border: rgba(231, 238, 238, 0.4) 2px solid;
  color: rgba(231, 238, 238, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;

  padding: 0.5rem 1rem;
}

.selectButtonItemActive {
  color: rgba(231, 238, 238, 0.8);
  border: 2px solid #a9e3ff;
  box-shadow: 0 0 5px #4cc7f4, inset 0 0 5px #4cc7f4;
}
