.root {
  width: 100%;
}

.root > * > * {
  background-color: inherit;
}

.root.hide {
  display: none;
}

.main {
  /* border: 1px solid rgba(231, 238, 238, 0.8);
  border-left-width: 0px;
  border-right-width: 0px; */
}

.main.active {
  border-bottom: none;
}

.header {
  padding: 0.75rem 0rem;
  padding-left: 15px;
  color: rgba(231, 238, 238, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border: 1px solid rgba(231, 238, 238, 0.8);
  border-left-width: 0px;
  border-right-width: 0px;
}

.active .header {
  border-bottom: none;
}

.content {
  overflow: hidden;
  max-height: 0;
  transition: transform 0.2s ease-in-out;

  padding-left: 25px;
  padding-right: 10px;
}

.active .content {
  padding-top: 1.25rem;

  max-height: fit-content;
}

.toggleBtn {
  max-width: fit-content;
  max-height: fit-content;
}

svg {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s;
}

.active .header > svg {
  transform: rotate(180deg);
}
